{
	"daemon": {
		"host": "localhost",
		"port": 8080
	},
	"receivers": {
		"insecure": {
			"name": "Insecure"
		},
		"github": {
			"name": "GitHub",
			"secret": "s33kret"
		}
	},
	"dispatchers": {
		"pubsub": {
			"name": "PubSub",
			"host": "localhost",
			"port": 6379,
			"channel": "webhookd"
		}
	},
	"webhooks": [
		{ "endpoint": "/github-test", "receiver": "github", "dispatcher": "pubsub" },
		{ "endpoint": "/insecure-test", "receiver": "insecure", "dispatcher": "pubsub" }		
	]
}
