{
	"daemon": {
		"host": "localhost",
		"port": 8080
	},
	"receiver": {
		"x-name": "Insecure",
		"name": "GitHub",
		"secret": "s33kret"
	},
	"dispatcher": {
		"name": "PubSub",
		"host": "localhost",
		"port": 6379,
		"channel": "webhookd"
	},
	"webhooks": [
		{ "endpoint": "/pooface" }
	]
}
